PORT=3000
HOST=0.0.0.0
WEEK_PAGE_TTL_MS=90000
MULTIMODEL_IMAGE_TTL_MS=90000
MULTIMODEL_STATS_TTL_MS=120000
HTTP_TIMEOUT_MS=12000
USER_AGENT=weather-relay/0.2 (+https://localhost)
TAF_PROVIDER=auto
AVWX_API_KEY=
AVWX_BASE_URL=https://avwx.rest/api
CHECKWX_API_KEY=
CHECKWX_BASE_URL=https://api.checkwx.com
STITCH_API_KEY=
KELLY_SERVER_BASE_URL=
KELLY_PREWARM_ENABLED=true
KELLY_PREWARM_DELAY_MS=2000
KELLY_PREWARM_INTERVAL_MS=900000
KELLY_PREWARM_CONCURRENCY=4
# KELLY_PREWARM_LOCATION_IDS=miami_mia,tokyo_hnd,shenzhen_szx
